body {
    background-color: #0b0b0b;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
}

#galactic-clock {
    font-family: 'Orbitron', sans-serif;
    color: #ffe81f;
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgba(255, 232, 31, 0.7);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid #ffe81f;
    margin-bottom: 20px;
}

h1, h3 {
    font-family: 'Orbitron', sans-serif;
    color: #ffe81f;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hero-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-bottom: 3px solid #ffe81f;
   
}

.content-section {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
    border-left: 5px solid #ffe81f;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.nav-link-custom {
    color: #ffe81f !important;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 8px 0;
    transition: 0.3s;
}

.nav-link-custom:hover {
    color: white !important;
    padding-left: 10px;
    text-shadow: 0 0 10px #ffe81f;
}

footer {
    padding: 30px 0;
    color: #888;
    font-size: 0.85rem;
    border-top: 1px solid #222;
}

.highlight-text {
    color: #ffe81f;
    font-weight: 600;
}

.table-custom {
    background: rgba(255, 255, 255, 0.05) !important;
    border-collapse: separate;
    border-spacing: 0 10px;
    color: white !important;
}

.table-custom th {
    color: #ffe81f;
    text-transform: uppercase;
    border-bottom: 2px solid #ffe81f !important;
}

.table-custom td {
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.05);
    border: none;
}

.char-img {
    border: 2px solid #ffe81f;
    border-radius: 10px;
    transition: transform 0.3s;
    object-fit: cover;
}

.char-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffe81f;
}

textarea.form-control {
    background-color: #1a1a1a;
    color: #ffffff;
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

textarea.form-control:focus {
    background-color: #222;
    color: #ffffff;
    border-color: #ffe81f;
    box-shadow: none;
}

textarea.form-control[readonly] {
    background-color: #1a1a1a;
    color: #ffffff;
    opacity: 1;
}